<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5c465f7b6.js" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>
<header>
    <span class="nav-title">Portfolio</span>
    <nav>
        <a href="#home">Home</a>
        <a href="#aboutMe">About Me</a>
        <a href="#skills">skills</a>
        <a href="#portfolio">portfolio</a>
        <a href="#contact">contact</a>
    </nav>
</header>

<body>
    <section class="home" id="home">
        <div class="image-description">
            <h3>Hello it's me!</h3>
            <h1>Bautista Garcia Oliver</h1>
            <div class="Iam-container">
                <h2 class="text first-text">and I'm: </h2>
                <span class="text sec-text">False text</span>
            </div>
            <p>
                My main goal is to become the best version of myself day by day, focusing on the features that stand out
                the most. The key elements for me are commitment, discipline, and consistency, and these form the core
                of my work philosophy. As a Full Stack Developer, I am capable of building a complete and functional
                website from scratch. I apply various tools, including HTML, CSS, JavaScript, Node.js, Express, and
                MySQL. Currently, I am expanding my skill set by learning additional tools such as APIs and React.
            </p>
            <ul class="social-medias">
                <li><a href="https://github.com/BautistaGarcia"><i class="fa-brands fa-github"></i></a></li>
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/bautigo"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/bautista-garcia-oliver-22571429b/"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
            <a class="cv-btn" href="">Download CV</a>
        </div>

        <div class="image-presentation">
            <img src="/img/foto-presentacion.jpg" alt="">
        </div>
    </section>

    <section class="about-me" id="aboutMe">

        <div class="image-presentation-full-body">
            <img src="/img/foto-presentacion-2.jpg" alt="">
        </div>

        <div class="aboutMe-text">
            <h2>About <span>Me.</span></h2>
            <h3>FullStack Developer</h3>
            <p>Throughout my entire life, I have consistently endeavored to enhance every aspect of my personal and
                professional development, contributing to the achievements that i have reached until now. My favorite
                pastimes include engaging in video games, acquiring new knowledge, maintaining a fitness routine, and,
                most importantly, fostering creativity by crafting new projects. It is through programming that I have
                discovered the immense potential for innovation and personal growth within the path I have chosen. As an
                individual with a background in Industrial Engineering and a specialization in Project Management, i
                would like to apply my distinctive skills in a professional context</p>
        </div>
    </section>


    <section class="skills" id="skills">
        <h2>My <span>skills</span></h2>
        <ul  id="skill-list">
            <li>
                <i class="fa-solid fa-code"></i>
                <h3>Web Development</h3>
                <p>Thanks to all the skills and knowledge that I have acquired, I have recently become a full-stack
                    developer. I am capable of building a website, including its functionalities, implementing CRUD
                    operations, validations, a login and registration process, database integration, and APIs.</p>
            </li>
            <li>
                <i class="fa-solid fa-gem"></i>
                <h3>Frontend skills</h3>
                <p>I'm able to design the visual aspects of the different sections that comprise a website, structuring
                    it through HTML, CSS, and JavaScript. Right now, I'm learning React in order to implement new
                    features for future projects.</p>
            </li>
            <li>
                <i class="fa-solid fa-laptop-code"></i>
                <h3>Backend Skills</h3>
                <p>Definitely what I like the most is the backend side. It's like bringing to life the project you are
                    working on. In this case, I'm using JavaScript as the main tool. Then, I use Express, Node.js,
                    MySQL, and everything in between. As additional packages, I utilize Sequelize, EJS, Multer,
                    Express-session, and cookie-parser</p>
            </li>
        </ul>
        <ul class="languages">
            <div class="languages-first">
                <i id="language-icon" class="fa-brands fa-html5" style="color: orangered;"></i>
                <i id="language-icon" class="fa-brands fa-css3-alt" style="color: blue;"></i>
                <i id="language-icon" class="fa-brands fa-js" style="color: yellow;"></i>
            </div>
            <div class="languages-second">
                <i id="language-icon" class="fa-brands fa-github" style="color: white;"></i>
                <i id="language-icon" class="fa-brands fa-react" style="color: lightskyblue;"></i>
                <i id="language-icon" class="fa-brands fa-node" style="color: green;"></i>
            </div>
        </ul>
    </section>

    <section class="portfolio" id="portfolio">
        <h2>lastest <span>proyects</span></h2>
        <ul class="projects">
            <li>
                <img src="/img/furtniture.jpg" alt="">
                <div class="proyect-description">
                    <h4>Mercado Liebre</h4>
                    <p>This project serves as a practice exercise, modeled after the Mercado Libre website, allowing me
                        to test my skills in HTML, CSS, JavaScript (Backend), Express, and Node.js.</p>
                    <div class="links">
                        <a href=""><i class="fa-solid fa-link"></i></a>
                        <a href=""><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </li>
            <li>
                <img src="/img/soundbox.jpg" alt="">
                <div class="proyect-description">
                    <h4>Soundbox</h4>
                    <p>This project serves as a practice exercise, modeled after the Mercado Libre website, allowing me
                        to test my skills in HTML, CSS, JavaScript (Backend), Express, and Node.js.</p>
                    <div class="links">
                        <a href=""><i class="fa-solid fa-link"></i></a>
                        <a href="https://github.com/PabloB91/Grupo_11_SoundBox"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </li>
            <li>
                <img src="/img/mercado-liebre.jpg" alt="">
                <div class="proyect-description">
                    <h4>Mercado Liebre</h4>
                    <p>This project serves as a practice exercise, modeled after the Mercado Libre website, allowing me
                        to test my skills in HTML, CSS, JavaScript (Backend), Express, and Node.js.</p>
                    <div class="links">
                        <a href="https://mercado-liebre-bautistagarcia.onrender.com"><i
                                class="fa-solid fa-link"></i></a>
                        <a href="https://github.com/BautistaGarcia/Mercado-Liebre.git"><i
                                class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="proyect-btn">Note: click to expand</div>
        <span class="note-text"> <i class="fa-solid fa-rectangle-xmark" id="close-note"></i> As you can see, some of
            these projects have two links: one of them is the direct link to the website, and the other one is the
            GitHub repository where it's saved. Right now, some of the projects are still in progress, so you will see
            changes over time, including the addition of new features and possibly some design changes. If you have any
            questions, feel free to contact me.</span>
    </section>

    <section class="contact" id="contact">
        <h2>Contact <span>Me!</span></h2>
        <form action="" method="post">
            <div class="form-first">
                <input type="text" placeholder="Full Name">
                <input type="text" placeholder="Email Address">
            </div>
            <div class="form-second">
                <input type="number" name="phone" id=""  placeholder="Phone Number">
                <input type="text" placeholder="Email Subject">
            </div>
            <input type="textarea" class="text-area" placeholder="Your Message">
            <button type="submit" class="submit-btn">SUBMIT</button>
        </form>
    </section>

    <aside id="goTop">
        <i class="fa-regular fa-circle-up"></i>
    </aside>
</body>
<footer>
    &copy; Bautista Garcia Oliver - Full Stack Developer
</footer>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
    const text = document.querySelector(".sec-text");

    const textLoad = () => {
        setTimeout(() => {
            text.textContent = "-FullStack Developer"
        }, 0);
        setTimeout(() => {
            text.textContent = "-Italian & Argentinian"
        }, 4000);
        setTimeout(() => {
            text.textContent = "-Trilingual"
        }, 8000);//----> 1s = 1000 miliseconds
    }

    textLoad();
    setInterval(textLoad, 12000);

    // go top btn
    const goTopBtn = document.getElementById("goTop")

    window.addEventListener('scroll', () => {
        scrollFunction();
    })

    function scrollFunction() {
        if (window.scrollY > 50) {
            goTopBtn.style.display = "flex";
            // goTopBtn.classList.add = "show-button";
        } else {
            goTopBtn.style.display = "none";
            // goTopBtn.classList.remove = "show-button";
        }

    }

    goTopBtn.addEventListener('click', function () {
        window.scrollTo(0, 0);
    })

    // note section proyects

    const closeNote = document.querySelector('#close-note')
    const note = document.querySelector('.proyect-btn');
    const noteText = document.querySelector(".note-text");
    note.addEventListener('click', () => {
        noteText.style.display = "flex"
    })

    closeNote.addEventListener('click', () => {
        noteText.style.display = "none"
    })

    // animacion de los skills
    // para que esto mismo funcione hace falta agregar estas dos etiquetas script en el head;
    // elimine la palabra script porque buggueaba xd
    // <!-- < src="https://unpkg.com/scrollreveal"></> -->
    // <!-- < src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></> -->
    window.addEventListener('scroll', function () {
        const form1 = document.querySelector('.form-first');
        const form2 = document.querySelector('.form-second');
        const form3 = document.querySelector('.text-area');
        const submit = document.querySelector('.submit-btn');
        const posicionObj4 = form3.getBoundingClientRect().top;
        const viewPortSize = window.innerHeight ;

        if (posicionObj4 < viewPortSize) {
            form1.style.animation = 'form1 1.5s ease-in-out';
            form2.style.animation = 'form2 1.5s ease-in-out'
            form3.style.animation = 'form3 2s ease-in-out'
            submit.style.animation = 'submit 2.5s ease-in-out'
        }
    }) 

    window.addEventListener('scroll', function () {
        const languages1 = document.querySelector('.languages-first');
        const languages2 = document.querySelector('.languages-second');
        const posicionObj3 = languages1.getBoundingClientRect().top;
        const viewPortSize = window.innerHeight / 1;

        if (posicionObj3 < viewPortSize) {
            languages1.style.animation = 'leftLanguages 2s ease-in-out'
            languages2.style.animation = 'rightLanguages 2s ease-in-out'
        }
    }) 

    window.addEventListener('scroll', function () {
        const fullBodyImg = document.querySelector('.image-presentation-full-body');
        const aboutMeText = document.querySelector('.aboutMe-text');
        const posicionObj2 = fullBodyImg.getBoundingClientRect().top;
        const viewPortSize = window.innerHeight / 1.2;

        if (posicionObj2 < viewPortSize) {
            aboutMeText.style.animation = 'imageDescription 1.5s ease-in-out'
            fullBodyImg.style.animation = 'aboutMe 2s ease-in-out'
        }
    }) 

    window.addEventListener('load', function () {
        const imagePresentation = document.querySelector('.image-presentation');
        const imageDescription = document.querySelector('.image-description');
        const posicionObj1 = imagePresentation.getBoundingClientRect().top;
        const viewPortSize = window.innerHeight;

        if (posicionObj1 < viewPortSize) {
            imagePresentation.style.animation = 'imagePresentation 1s ease-in-out';
            imageDescription.style.animation = 'imageDescription 1s ease-in-out';
        }
    }) 

</script>

</html>