

aside {
    position: fixed;
    display: flex;
    padding-top: 10vh;
    margin-top: 25vh;
    bottom: 0;
    width: 35vw;
    height: 75vh;
    border-radius: 18px 18px 0 0;
    background: #fff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .aside-img-container {
        position: absolute;
        top: -100px;
        width: 150px;
        height: 150px;

        img {
            border-radius: 50%;
            border: 2px solid black;
        }

        &:hover {
            transform: translateY(-15px);
        }

        &:hover img {
            border-radius: 25px;
        }
    }

    dd {
        padding: 5px;
        background: rgba(211, 211, 211, 0.425);
        border-radius: 50px;
        font-size: 14px;
    }

    .social-medias {
        width: 85%;
        display: flex;
        justify-content: space-around;
        margin: 10px 0 10px 0;

        li {
            background: rgba(211, 211, 211, 0.425);
            padding: 5px;
            font-size: 22px;
            border-radius: 10px;

            a {
                display: flex;
                justify-content: center;
            }
        }
    }

    .contact-me {
        display: flex;
        height: 90%;
        width: 90%;
        background: rgba(211, 211, 211, 0.425);
        border-radius: 18px;
        padding: 1rem;
        margin: 5px;
        flex-direction: column;
        justify-content: space-evenly;
        box-shadow: inset 0px 0px 9px 0 black;

        li {
            display: flex;
            align-items: center;

            i {
                width: 2rem;
                display: flex;
                background: #fff;
                padding: 5px;
                font-size: 18px;
                border-radius: 5px;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .cv-btn {
        display: flex;
        justify-content: center;
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
        width: 50%;
        background: red;
    }
}

nav {
    overflow: hidden;
    max-width: 50vw;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    margin: 1rem;
    border-radius: 24px;
    z-index: 999;

    .nav-bar {
        overflow-x: scroll;
        display: flex;
        justify-content: space-around;
        list-style: none;

        li {
            padding: 8px;

            .nav-bar-links {
                width: 5rem;
                background: rgba(211, 211, 211, 0.425);
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 18px;
                padding: 0.5rem;

                i {
                    font-size: 35px;
                }
                
                &:hover {
                    background-color: #ca0c0c88;
                }
            }
        }
    }
}


.profile {
    position: absolute;
    right: 0;
    width: 60vw;
    margin-top: 45vh;
    padding-right: 1rem;

    section {
        position: relative;
        margin: 1rem 0 1rem 0;
        padding: 1rem;
        border-radius: 18px;
        background: #fff;
    }


    .about-me {
        
        scroll-margin-top: 125px;

        p {
            padding: 0.5rem;
        }
    }

    .work {
        scroll-margin-top: 125px;

        .work-div-container {
            display: flex;
            justify-content: space-around;

            .work-div {
                display: flex;
                width: 50%;
                background: red;
                margin: 0.5rem;
                padding: 0.5rem;
                border-radius: 18px;

                li {
                    span {
                        color: white;
                        font-size: 18px;
                    }

                    p {
                        color: lightgray;
                    }
                }

                &:hover {
                    background: from left rgb(255, 255, 255), rgb(118, 30, 30);
                }
            }
        }
    }

    .projects {
        position: relative;
        display: flex;
        justify-content: center;

        scroll-margin-top: 125px;

        h4 {
            position: absolute;
            top: 0;
        }

        .projects-div-container {
            position: relative;
            overflow: hidden;
            margin: 1rem;
            width: 33%;
            border-radius: 20px;

            img {
                aspect-ratio: 1/1;
                border-radius: inherit;
            }

            &:hover .project-description {
                transition: all .5s ease-in-out;
                transform: translateY(-100%);
            }
        }

        .project-description {
            position: absolute;
            width: 100%;
            height: 100%;
            color: #fff;
            background: #00000048;
            transform: translateY(100%);
            border-radius: inherit;
            padding: 0.5rem;
        }
    }

    .skills {

        scroll-margin-top: 125px;

        .skills-container {

            &:hover .percentage-remaining {
                animation: identifier 2s normal forwards;
            }

            span {
                display: flex;
                justify-content: space-between;
                margin: 15px 0 15px 0;

            }

            .bar {
                width: 100%;
                height: 7px;
                background: rgba(211, 211, 211, 0.425);
                border: 1px solid black;
            }

            .percentage-remaining {
                height: 100%;
                width: 100%;
            }

            .red {
                width: 85%;
                background-color: #FF0000;
                
                
            }

            .lightBlue {
                width: 75%;
                background: lightblue;
                
                
            }

            .yellow {
                width: 60%;
                background: yellow;
                
                
            }

            .blue {
                width: 50%;
                background: blue;
                
                
            }

            .purple {
                width: 90%;
                background: purple;
                
                
            }

            .lightRed {
                width: 75%;
                background: lightcoral;

            }
        }
    }

    .contact-me-container {

        scroll-margin-top: 125px;

        form {
            padding: 1rem;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);

            input {
                width: 100%;
            }
        }
    }

    .location {
        display: flex;
    }
}


/* media queries */

@media (max-width:425px) {
    body {
        flex-direction: column;
    }

    aside {
        margin: 10rem auto auto auto;
        width: 90%;
        position: static;

        .aside-img-container {
            top: 15px;
        }
    }

    nav {
        position: static;
    }

    .profile {
        padding-right: 0;
        margin: auto;
        width: 90%;
        position: static;
    }
}

@keyframes identifier {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}